<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="abc.eims.dao.AttendanceMapper">

    <select id="findAll" resultType="attendance">
        select *
        from t_attendance
    </select>

    <select id="findById" parameterType="int" resultType="attendance">
        SELECT *
        FROM t_attendance
        WHERE a_id = #{aId}
    </select>

    <select id="findByEid" parameterType="int" resultType="attendance">
        SELECT *
        FROM t_attendance
        WHERE e_id = #{eId}
    </select>

    <select id="getMyAttendance" resultType="attendance">
        SELECT *
        FROM t_attendance
        WHERE e_id = #{eId}
    </select>

    <insert id="insert" parameterType="attendance">
        INSERT INTO t_attendance (e_id, a_type, a_time)
        VALUES (#{eId}, #{aType}, #{aTime})
    </insert>

    <update id="update" parameterType="attendance">
        update t_attendance
        set e_id   = #{eId},
            a_type = #{aType},
            a_time = #{aTime}
        where a_id = #{aId}
    </update>

    <update id="changeAttendanceRecord">
        update t_attendance
        <set>
            <if test="aType != null">a_type=#{aType},</if>
            <if test="aTime != null">a_time=#{aTime},</if>
        </set>
        where a_id = #{aId}
    </update>

    <delete id="deleteByaId" parameterType="int">
        delete from t_attendance where a_id in
        <foreach collection="aIdList" item="a_id" open="(" close=")" separator=",">
            #{a_id}
        </foreach>
    </delete>

    <delete id="deleteByeId" parameterType="int">
        delete
        from t_attendance
        where e_id = #{eId}
    </delete>

</mapper>
