<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="abc.eims.dao.EmployeeMapper">

    <select id="findAll" resultType="employee">
        select *
        from t_employee
    </select>


    <select id="findById" parameterType="int" resultType="employee">
        SELECT *
        FROM t_employee
        WHERE e_id = #{eId}
    </select>

    <select id="selectByAccountAndPassword" resultType="employee">
        select *
        from t_employee
        where e_account = #{account}
          and e_password = #{password}
    </select>

    <select id="findByAccount" resultType="employee">
        SELECT *
        FROM t_employee
        WHERE e_account = #{account}
    </select>

    <insert id="insert" parameterType="employee">
        INSERT INTO t_employee
        (e_account, e_password, e_name, e_birthday, e_sex, e_phone, e_email, e_role_id)
        VALUES (#{eAccount}, #{ePassword}, #{eName}, #{eBirthday}, #{eSex}, #{ePhone}, #{eEmail}, #{eRoleId})
    </insert>

    <update id="update">
        update t_employee
        set e_account  = #{eAccount},
            e_password = #{ePassword},
            e_name     = #{eName},
            e_birthday = #{eBirthday},
            e_sex      = #{eSex},
            e_phone    = #{ePhone},
            e_email    = #{eEmail},
            e_role_id  = #{eRoleId}
        where e_id = #{eId}
    </update>


    <update id="changeEmployeeRole">
        update t_employee
        set e_role_id = #{roleId}
        where e_account = #{account}
    </update>

    <delete id="deleteById" parameterType="int">
        delete
        from t_employee
        where e_id = #{eId}
    </delete>

    <delete id="deleteByAccount" parameterType="int">
        delete from t_employee where e_account in
        <foreach collection="list" item="e_account" open="(" close=")" separator=",">
            #{e_account}
        </foreach>
    </delete>

</mapper>
